QLK/pkgs/Wadl/QLK_ApproveImportOrder.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://asia-001.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="QLK_ApproveImportOrder" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="QLK_ApproveImportOrder" />
  <grammars>
    <jsonTypes targetNamespace="https://asia-001.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_GetDetailsProductFromOrder_Inputs_def" />
      <string name="ManualTriggerInput_EmailofManager_Inputs_def" />
      <string name="ManualTriggerInput_Compose_Inputs_def" />
      <string name="ManualTriggerInput_NameAccountant_Inputs_def" />
      <string name="ManualTriggerInput_OrderImportorNewOrder_Inputs_def" />
      <integer name="ManualTriggerInput_Updateitem_Id_def" />
      <integer name="ManualTriggerInput_ApproveImportOrder_Id_def" />
      <integer name="ManualTriggerInput_ApproveNewOrder_Id_def" />
      <integer name="ManualTriggerInput_ApproveExport_Id_def" />
      <string name="ManualTriggerInput_OrderImportOrNewOrderRefuse_Inputs_def" />
      <integer name="ManualTriggerInput_Updateitem_Id_1_def" />
      <integer name="ManualTriggerInput_Updateitem2_Id_def" />
      <integer name="ManualTriggerInput_RefuseImport_Id_def" />
      <integer name="ManualTriggerInput_RefuseNewOrder_Id_def" />
      <integer name="ManualTriggerInput_RefuseExport_Id_def" />
      <string name="ManualTriggerInput_TotalPrice_Inputs_def" />
      <integer name="ManualTriggerInput_Updateitem_Id_2_def" />
      <integer name="ManualTriggerInput_ApproveImport_Id_def" />
      <integer name="ManualTriggerInput_RefuseImport_Id_1_def" />
      <object name="ManualTriggerInput">
        <property name="GetDetailsProductFromOrder_Inputs" type="string" />
        <property name="EmailofManager_Inputs" type="string" />
        <property name="Compose_Inputs" type="string" />
        <property name="NameAccountant_Inputs" type="string" />
        <property name="OrderImportorNewOrder_Inputs" type="string" />
        <property name="Updateitem_Id" type="integer" />
        <property name="ApproveImportOrder_Id" type="integer" />
        <property name="ApproveNewOrder_Id" type="integer" />
        <property name="ApproveExport_Id" type="integer" />
        <property name="OrderImportOrNewOrderRefuse_Inputs" type="string" />
        <property name="Updateitem_Id_1" type="integer" />
        <property name="Updateitem2_Id" type="integer" />
        <property name="RefuseImport_Id" type="integer" />
        <property name="RefuseNewOrder_Id" type="integer" />
        <property name="RefuseExport_Id" type="integer" />
        <property name="TotalPrice_Inputs" type="string" />
        <property name="Updateitem_Id_2" type="integer" />
        <property name="ApproveImport_Id" type="integer" />
        <property name="RefuseImport_Id_1" type="integer" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://asia-001.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="GetDetailsProductFromOrder_Inputs" path="/GetDetailsProductFromOrder_Inputs" type="xs:string" required="true" />
            <param style="plain" name="EmailofManager_Inputs" path="/EmailofManager_Inputs" type="xs:string" required="true" />
            <param style="plain" name="Compose_Inputs" path="/Compose_Inputs" type="xs:string" required="true" />
            <param style="plain" name="NameAccountant_Inputs" path="/NameAccountant_Inputs" type="xs:string" required="true" />
            <param style="plain" name="OrderImportorNewOrder_Inputs" path="/OrderImportorNewOrder_Inputs" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_Id" path="/Updateitem_Id" type="xs:long" required="true" />
            <param style="plain" name="ApproveImportOrder_Id" path="/ApproveImportOrder_Id" type="xs:long" required="true" />
            <param style="plain" name="ApproveNewOrder_Id" path="/ApproveNewOrder_Id" type="xs:long" required="true" />
            <param style="plain" name="ApproveExport_Id" path="/ApproveExport_Id" type="xs:long" required="true" />
            <param style="plain" name="OrderImportOrNewOrderRefuse_Inputs" path="/OrderImportOrNewOrderRefuse_Inputs" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_Id_1" path="/Updateitem_Id_1" type="xs:long" required="true" />
            <param style="plain" name="Updateitem2_Id" path="/Updateitem2_Id" type="xs:long" required="true" />
            <param style="plain" name="RefuseImport_Id" path="/RefuseImport_Id" type="xs:long" required="true" />
            <param style="plain" name="RefuseNewOrder_Id" path="/RefuseNewOrder_Id" type="xs:long" required="true" />
            <param style="plain" name="RefuseExport_Id" path="/RefuseExport_Id" type="xs:long" required="true" />
            <param style="plain" name="TotalPrice_Inputs" path="/TotalPrice_Inputs" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_Id_2" path="/Updateitem_Id_2" type="xs:long" required="true" />
            <param style="plain" name="ApproveImport_Id" path="/ApproveImport_Id" type="xs:long" required="true" />
            <param style="plain" name="RefuseImport_Id_1" path="/RefuseImport_Id_1" type="xs:long" required="true" />
          </representation>
        </request>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>