QLK/pkgs/Wadl/QLK_Approve_NewOrder_Orders.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://asia-001.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="QLK_Approve_NewOrder_Orders" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="QLK_Approve_NewOrder_Orders" />
  <grammars>
    <jsonTypes targetNamespace="https://asia-001.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_GetDetailOrder_Inputs_def" />
      <string name="ManualTriggerInput_GetEmailManager_Inputs_def" />
      <string name="ManualTriggerInput_AccountantName_Inputs_def" />
      <string name="ManualTriggerInput_TotalPriceOfOrder_Inputs_def" />
      <integer name="ManualTriggerInput_ApproveNewOrder_Id_def" />
      <integer name="ManualTriggerInput_RefuseNewOrder_Id_def" />
      <string name="ManualTriggerInput_GetIDOrder_Inputs_def" />
      <object name="ManualTriggerInput">
        <property name="GetDetailOrder_Inputs" type="string" />
        <property name="GetEmailManager_Inputs" type="string" />
        <property name="AccountantName_Inputs" type="string" />
        <property name="TotalPriceOfOrder_Inputs" type="string" />
        <property name="ApproveNewOrder_Id" type="integer" />
        <property name="RefuseNewOrder_Id" type="integer" />
        <property name="GetIDOrder_Inputs" type="string" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://asia-001.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="GetDetailOrder_Inputs" path="/GetDetailOrder_Inputs" type="xs:string" required="true" />
            <param style="plain" name="GetEmailManager_Inputs" path="/GetEmailManager_Inputs" type="xs:string" required="true" />
            <param style="plain" name="AccountantName_Inputs" path="/AccountantName_Inputs" type="xs:string" required="true" />
            <param style="plain" name="TotalPriceOfOrder_Inputs" path="/TotalPriceOfOrder_Inputs" type="xs:string" required="true" />
            <param style="plain" name="ApproveNewOrder_Id" path="/ApproveNewOrder_Id" type="xs:long" required="true" />
            <param style="plain" name="RefuseNewOrder_Id" path="/RefuseNewOrder_Id" type="xs:long" required="true" />
            <param style="plain" name="GetIDOrder_Inputs" path="/GetIDOrder_Inputs" type="xs:string" required="true" />
          </representation>
        </request>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>